* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #ff9800;
}
.container {
    height: 250px;
    width: 450px;
    background-color: #eceff8;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7), -2px -2px 8px #FF572240;
}
.container h3 {
    text-align: center;
    margin: 30px 0;
    font-size: 27px;
}
.container h5 {
    height: 20px;
    width: 400px;
    margin: 0px 20px;
}
.container .check {
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    background-color: #FF9800;
    padding: 0px 20px;
    margin: 8px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #eceff8;   
}
.password {
    height: 50px;
    width: 400px;
    outline: none;
    background-color: transparent;
    padding: 0px 20px;
    font-size: 18px;
    margin: 8px 20px;
    color: #FF9800;
}
.password::placeholder{
    color: #FF9800;
}